<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1482,78},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1482,360},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1482,402},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,270}</string>
                <key>spriteSourceSize</key>
                <string>{195,270}</string>
                <key>textureRect</key>
                <string>{{803,163},{195,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{1524,360},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,35}</string>
                <key>spriteSourceSize</key>
                <string>{17,35}</string>
                <key>textureRect</key>
                <string>{{1531,234},{17,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1482,132},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{1482,1},{75,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cactus_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{1482,444},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{54,22}</string>
                <key>textureRect</key>
                <string>{{1531,184},{48,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{1482,184},{44,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{1482,230},{44,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{1482,276},{40,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{1482,318},{40,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{310,281}</string>
                <key>spriteSourceSize</key>
                <string>{316,291}</string>
                <key>textureRect</key>
                <string>{{413,163},{310,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{68,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,134}</string>
                <key>textureRect</key>
                <string>{{803,435},{68,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{90,134}</string>
                <key>textureRect</key>
                <string>{{901,435},{68,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highscoreicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1518,444},{26,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo-vtca-xanh-duong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{462,91}</string>
                <key>spriteSourceSize</key>
                <string>{480,121}</string>
                <key>textureRect</key>
                <string>{{1389,1},{462,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{112,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{696,313},{112,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{800,10}</string>
                <key>spriteSourceSize</key>
                <string>{800,26}</string>
                <key>textureRect</key>
                <string>{{1,497},{800,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{800,14}</string>
                <key>spriteSourceSize</key>
                <string>{800,26}</string>
                <key>textureRect</key>
                <string>{{1,481},{800,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,360}</string>
                <key>spriteSourceSize</key>
                <string>{441,360}</string>
                <key>textureRect</key>
                <string>{{1027,1},{441,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1524,412},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{410,281}</string>
                <key>spriteSourceSize</key>
                <string>{416,297}</string>
                <key>textureRect</key>
                <string>{{1,163},{410,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,148}</string>
                <key>spriteSourceSize</key>
                <string>{104,148}</string>
                <key>textureRect</key>
                <string>{{696,163},{104,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Textures.png</string>
            <key>size</key>
            <string>{1550,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b50eb5738a3e1c840b60b56d7ef7d95e:b1de2071ad93cc070a72dcc04883b9ff:d12ec941c48e9617c2de14d07a47dc75$</string>
            <key>textureFileName</key>
            <string>Textures.png</string>
        </dict>
    </dict>
</plist>
