<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{2167,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1769,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1809,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2392,148},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{3072,148},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{0,620},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{680,620},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1360,620},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2040,620},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2720,620},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{3400,620},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,270}</string>
                <key>spriteSourceSize</key>
                <string>{195,270}</string>
                <key>textureRect</key>
                <string>{{1024,148},{195,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{0,1092},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{680,1092},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1360,1092},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2040,1092},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2720,1092},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{3400,1092},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{0,1564},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{680,1564},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1360,1564},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2040,1564},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2720,1564},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{3400,1564},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{0,2036},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{680,2036},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1360,2036},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2040,2036},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2720,2036},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{3400,2036},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{0,2508},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{680,2508},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1360,2508},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2040,2508},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2720,2508},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{3400,2508},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{0,2980},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{680,2980},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1360,2980},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2040,2980},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2720,2980},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{3400,2980},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{0,3452},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{680,3452},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1360,3452},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2040,3452},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2720,3452},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{3400,3452},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{0,3924},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{680,3924},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{1360,3924},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,472}</string>
                <key>spriteSourceSize</key>
                <string>{680,472}</string>
                <key>textureRect</key>
                <string>{{2040,3924},{680,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{2017,0},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,35}</string>
                <key>spriteSourceSize</key>
                <string>{17,35}</string>
                <key>textureRect</key>
                <string>{{1718,0},{17,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{2042,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{2092,0},{75,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{1735,0},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,22}</string>
                <key>spriteSourceSize</key>
                <string>{54,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{1929,0},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{1973,0},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{1849,0},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{1889,0},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,291}</string>
                <key>spriteSourceSize</key>
                <string>{316,291}</string>
                <key>textureRect</key>
                <string>{{1219,148},{316,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,160}</string>
                <key>textureRect</key>
                <string>{{0,148},{1024,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,134}</string>
                <key>spriteSourceSize</key>
                <string>{90,134}</string>
                <key>textureRect</key>
                <string>{{2849,0},{90,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,134}</string>
                <key>spriteSourceSize</key>
                <string>{90,134}</string>
                <key>textureRect</key>
                <string>{{2939,0},{90,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highscoreicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1654,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo-vtca-xanh-duong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,121}</string>
                <key>spriteSourceSize</key>
                <string>{480,121}</string>
                <key>textureRect</key>
                <string>{{2369,0},{480,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,100}</string>
                <key>textureRect</key>
                <string>{{2219,0},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,26}</string>
                <key>spriteSourceSize</key>
                <string>{800,26}</string>
                <key>textureRect</key>
                <string>{{54,0},{800,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,26}</string>
                <key>spriteSourceSize</key>
                <string>{800,26}</string>
                <key>textureRect</key>
                <string>{{854,0},{800,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,360}</string>
                <key>spriteSourceSize</key>
                <string>{441,360}</string>
                <key>textureRect</key>
                <string>{{1951,148},{441,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1686,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,297}</string>
                <key>spriteSourceSize</key>
                <string>{416,297}</string>
                <key>textureRect</key>
                <string>{{1535,148},{416,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,148}</string>
                <key>spriteSourceSize</key>
                <string>{104,148}</string>
                <key>textureRect</key>
                <string>{{3029,0},{104,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Textures.png</string>
            <key>size</key>
            <string>{4080,4396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dc3dc84d81f4b719f9cf4576f299e4e:34910ed32640aa2d61d32013355c1732:d12ec941c48e9617c2de14d07a47dc75$</string>
            <key>textureFileName</key>
            <string>Textures.png</string>
        </dict>
    </dict>
</plist>
